<% include layout %>
   <body class="container-fluid">
       <h1 style="text-align: center;"> EST Sidi Bennour </h1>
       <div  style="text-align: center;" class="card">
        <div class="card-header">Cliquez sur l'un des tache</div>
         <div class="card-body">
           <a href="/slider" class="btn btn-info">Portfolio</a>
           <br/>
           <br/>           
           <a href="/test" class="btn btn-danger">Test singification</a>
         </div>

       </div>

  </body>
</html>
